:root {
  --main-bg-color: #deb75e;
  --main-text-color: blanchedalmond;
  --main-font-size: 50px;
  --card-bg-color: #fff;
  --card-border-color: #ddd;
  --card-box-shadow: rgba(0, 0, 0, 0.1);
  --card-font-size: 1em;
  --button-bg-color: #deb75e;
  --button-hover-bg-color: #0056b3;
  --max-img-width: 600px;
  --header-height: 350px;
  --nav-padding: 1em;
}

header {
  background-image: url('https://www.canyon.com/dw/image/v2/BCML_PRD/on/demandware.static/-/Library-Sites-canyon-shared/default/dwfe612fcc/images/plp/gravel-bikes/World-canyon-gravel-my23-01.jpg?sw=1920');
  width: 100%;
  height: var(--header-height);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

h1 {
  color: var(--main-text-color);
  font-size: var(--main-font-size);
}

.introduccion p {
  color: var(--main-text-color);
  font-size: calc(var(--main-font-size) / 2);
}

nav {
  background-color: var(--main-bg-color);
  width: 100%;
  position: relative;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0.5em var(--nav-padding);
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: var(--nav-padding);
  display: block;
}

nav ul li a:hover {
  background-color: red;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.card {
  background-color: var(--card-bg-color);
  padding: 20px;
  border: 1px solid var(--card-border-color);
  box-shadow: 0 2px 5px var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.card p {
  font-size: var(--card-font-size);
  margin-bottom: 15px;
  text-align: center;
}

.card a.card-button {
  background-color: var(--button-bg-color);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
  align-self: center;
  margin-top: auto;
}

.card a.card-button:hover {
  background-color: var(--button-hover-bg-color);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .introduccion p {
    font-size: 20px;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    margin-top: calc(var(--header-height) + 70px);
  }

  .card {
    padding: 15px;
  }

  .card h3 {
    font-size: 1.25em;
    margin-bottom: 8px;
  }

  .card p {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .card a.card-button {
    padding: 5px 8px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  .introduccion p {
    font-size: 18px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5em 0;
  }

  .card {
    padding: 10px;
  }

  .card h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
  }

  .card p {
    font-size: 0.85em;
    margin-bottom: 8px;
  }

  .card a.card-button {
    padding: 5px 8px;
  }
}
